
html{
    font-size: 62.5%;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    padding: 2rem;
    
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Pattaya', sans-serif;

}
h1 {
    margin:3rem 0rem;
    font-size: 5.653rem;
  }
  
  h2 {font-size: 4.298rem;
        margin: 2rem 0;}
  
  h3 {font-size: 3.127rem;
    margin: 2rem 0;}
  
  h4 {font-size: 1.999rem;
    margin: 2rem 0;}
  
  h5 {font-size: 1.414rem;}
p{
    font-family: 'PT Serif', serif;
    font-size: 2.5rem;
    margin: 2.5rem 0;
}

.container{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 100%;
    
    
    
}
ul{
    padding-left: 4rem;
}

li{
    
    list-style-type:disc;
}